<p id="notice"><%= notice %></p>

<h1>Barks</h1>

<table>
  <thead>
    <tr>
      <th>Bark</th>
      <th>Author</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @barks.each do |bark| %>
      <tr>
        <td><%= bark.bark %></td>
        <td><%= bark.dog_id %></td>
        <td><%= link_to 'Show', bark %></td>
        <td><%= link_to 'Edit', edit_bark_path(bark) %></td>
        <td><%= link_to 'Destroy', bark, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Bark', new_bark_path %>
